
Blazor/BzStruc/\.vs/BzStruc/v15/Server/sqlite3/

Blazor/BzStruc/BzStruc\.Facade/obj/

Blazor/BzStruc/BzStruc\.Facade/bin/

Blazor/BzStruc/BzStruc\.Server/bin/

Blazor/BzStruc/BzStruc\.Server/obj/

Blazor/BzStruc/BzStruc\.Shared/obj/

Blazor/BzStruc/BzStruc\.Client/obj/

Blazor/BzStruc/XUnitTestProject1/bin/

Blazor/BzStruc/XUnitTestProject1/obj/

Blazor/BzStruc/\.vs/

Blazor/BzStruc/BzStruc\.Repository/bin/

Blazor/BzStruc/BzStruc\.Repository/obj/
